# Root .gitignore for monorepo
.env
**/.env
backend/.env
admin-frontend/.env
user-frontend/.env
super-admin-frontend/.env
node_modules/
**/node_modules/
.expo/
**/ .expo/
dist/
**/dist/
web-build/
**/web-build/
ios/
**/ios/
android/
**/android/
.vscode/
**/.vscode/
*.log
.DS_Store